.ScrapMain {
  width: calc(100vw - 240px);
  padding: 0;
  position: relative;

  .ScrapForm :hover {
    opacity: 0.8;
  }

  .AddImage {
    position: fixed;
    bottom: 40px;
    right: 0;
    background-color: #FFFFFF;
    border: none;
    padding: 8px;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 8px #d8d8d8;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 12pt;
    color: #16a5bc;
    outline: none;

    &--icon {
      font-size: 1.5em;
    }

    p {
      margin: 0 15px 0 5px;
    }

    &__file {
      display: none;
    }
  }

  .ScrapHeader {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 12px;

    i {
      font-size: 1.5em;
      color: black;
    }

    p {
      font-size: 16pt;
    }
  }

  .scrap {
    height: calc(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    overflow: auto;

    .ScrapImage {
      width: 160px;
      height: 160px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        border: solid 1px #fff;
      }
    }
  }

  .overlay-area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;

    .overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
      color: #16a5bc;
      border-radius: 5px;
      z-index: 10;
      box-shadow: 0 0 12px #d8d8d8;
      pointer-events: none;

      p {
        padding: 20px;
        line-height: 1.5em;
      }
    }
  }
}

